.FieldForm {
  width: 900px;
  padding: 0 15px;
  margin: 5% auto;
  border: 2px solid black;
}
.Input {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  margin: 10px auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.Input:focus {
  outline: none;
  background-color: #ccc;
}
.FieldForm button {
  width: 80px;
  margin: 20px;
}
