.AdminPage {
  width: 1000px;
  margin: 5% auto;
  padding: 15px;
  border: 4px solid black;
  text-align: center;
}

.btn {
  background: black;
  color: white;
  text-decoration: none;
  outline: none;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
}
