.Dishe {
  margin: 5% auto;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Dishe img {
  width: 200px;
  height: 200px;
  background-image: none;
}
